<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Ronan (ronandev.ru)" />
    <meta name="description" content="Оригинальный проект в основе которого лежит ванильный сервер по Minecraft и полная свобода действий на нём." />
    <meta name="keyworlds" content="сп, майнкрафт, спм, спб, minecraft, приватный сервер, ванильный сервер майнкрафт, страна подписчиков, сп мини, сп бедрок" />
    <title>СП - Сервера по Майнкрафту</title>
    <meta name="og:type" content="website" />
    <meta name="og:title" content="СП - Сервера по Майнкрафту" />
    <meta name="og:url" content="spworlds.ru" />
    <meta property="og:locale" content="ru_RU" />
    <meta name="og:description" content="Оригинальный проект в основе которого лежит ванильный сервер по Minecraft и полная свобода действий на нём." />
    <meta property="og:image" content="/img/logo.png" />
    <link rel="stylesheet" href="/dist/styles.css" />
    <link rel="icon" href="/img/logo.png" />
  </head>
  <body>
    <header>
      <img src="./img/logo.png" alt="СП" />
      <span>Страна Подписчиков</span>
      <div class="spacer"></div>
      <a href="https://vk.com/spworlds">Группа ВК</a>
    </header>
    <main>
      <div>
        <h1>Уникальные Майнкрафт сервера</h1>
        <p>СП - Это это целая страна на ванильном сервере майнкрафт.<br />Без гриферов, приватов или доната.</p>
      </div>
    </main>
    <section class="info">
      <div>
        <h1>Что такое СП?</h1>
        <p>
          СП - это оригинальный проект в основе которого лежит ванильный сервер по Minecraft и полная свобода действий на нём. Только помните, что ваша свобода заканчивается
          там, где начинается свобода другого игрока. На наших серверах есть ПРАВИЛА и ЗАКОНЫ. Нарушая правила, а именно: Быть адекватным игроком, не гриферить, не мешать
          другим игрокам наслаждаться игрой, Вы будете забанены навсегда без суда. Нарушив законы, которые принимает правительство сервера, над вами будет проведён суд как в
          реальной жизни.
        </p>
        <p>Если у тебя есть какие-то вопросы, ты можешь их задать <a href="https://vk.com/spworlds">в нашей группе ВКонтакте</a></p>
      </div>
      <div>
        <h1>Попробуй СП бесплатно</h1>
        <button onclick="copyIp()" id="ipBytton">IP: mc.spworlds.ru</button>
        <input type="text" value="mc.spworlds.ru" id="ipInput" style="display: none" />
        <p>Тут можно пообщаться с друзьями, порыбачить, побывать на концерте и просто хорошо провести время. Для входа требуется Лицензионный Java Minecraft версии 1.16.5</p>
      </div>
    </section>
    <section class="our-servers">
      <h1>Наши сервера</h1>
      <div class="servers">
        <% servers.forEach(({ id, name, description, image, price }) => { %>
        <div>
          <img src="<%- image %>" alt="<%= name %>" />
          <h1><%= name %></h1>
          <p><%= description %></p>
          <p class="price"><%- new Intl.NumberFormat('ru-RU').format(price) %> ₽ <button onclick="buy(<%= id %>, '<%= name %>')">Купить</button></p>
        </div>
        <% }); %>
      </div>
    </section>
    <footer>
      <p>© SPWorlds.ru 2021</p>
      <p>Made with ❤️ by <a href="https://ronandev.ru">Ronan</a></p>
    </footer>
    <div id="modal" style="display: none; opacity: 0">
      <form method="POST">
        <input type="text" name="server" id="serverInput" style="display: none" />
        <h1 id="formTitle"></h1>
        <p>
          Мы желаем осуществлять индивидуальный подход к каждому игроку наших серверов. Вы получите доступ не сразу после доната. В течении 24х часов с момента доната, Вам
          напишет администратор, который предоставит вам ссылку на группу в ВК, ссылку на специальный канал в дискорде, впишет ваш ник в WhiteList и даст вам IP сервера.
        </p>
        <div>
          <label for="nickInput">Ник в Майнкрафте (лицензия)</label>
          <input type="text" id="nickInput" name="nick" value="" required />
        </div>
        <div>
          <label for="vkInput">Ссылка на ваш профиль в ВК</label>
          <input type="url" id="vkInput" name="vk" value="https://vk.com/" required />
          <p>Убедитесь, что ссылка верная и у вас открыта личка.</p>
        </div>
        <div>
          <label for="billingInput">Способ оплаты</label>
          <div class="select">
            <select name="billing" id="billingInput" required onchange="onInputChange()">
              <option value="CPGCRDPW" selected>Visa/MasterCard RUB</option>
              <option value="QIWI_MYCOM">QIWI</option>
              <option value="VKPAY">VK PAY</option>
              <option value="YD_MYCOM">YooMoney</option>
              <option value="WME_MYCOM">WebMoney WME</option>
              <option value="WMZ_MYCOM">WebMoney WMZ</option>
              <option value="MOBILE_FAKE">Телефон</option>
              <option value="BITPAY_EURO">Bitcoin</option>
              <option value="PAYPAL_RUR">PayPal RUB</option>
              <option value="PAYPAL_EURO">PayPal EUR</option>
              <option value="PAYPAL_USD">PayPal USD</option>
              <option value="CPG_EURO">Visa/MasterCard EUR</option>
              <option value="CPG_USD">Visa/MasterCard USD</option>
              <option value="BOACOMPRA_USD_VISA">Visa BRL</option>
              <option value="BOACOMPRA_USD_MC">MasterCard BRL</option>
            </select>
          </div>
        </div>
        <div>
          <label for="emailInput">Email (нужен только для оплаты)</label>
          <input type="email" id="emailInput" name="email" required />
        </div>
        <div id="qiwiInputContainer" style="display: none">
          <label for="qiwiInput">Номер QIWI кошелька</label>
          <input type="tel" id="qiwiInput" name="phone_number" />
        </div>
        <div id="telInputContainer" style="display: none">
          <label for="telInput">Номер телефона</label>
          <input type="tel" id="telInput" name="phone" />
        </div>
        <button>Войти на сервер</button>
      </form>
    </div>
    <script src="./dist/index.js"></script>
  </body>
</html>
